@charset "UTF-8";

header{
	color: #FFFFFF;
}

body{
    color: #FFFFFF;
    background-image: url(../../img/blackbkg.jpg);	
}

h1 {
	font-family: filmotype-maxwell,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 50px;
}

h3{
    font-size: 28px;
}

h4 {
    font-weight: bolder;
	font-size: 18px;
}
nav {
    color: #FFFFFF;
}
a {
    text-decoration: none;
    color: #929292;
    font-size: 25px;
}
