@charset "UTF-8";

header{
	color: #FFFFFF;
}

body{
	background: url("../../img/blackbkg.jpg");
	color: #FFFFFF;
	
}

h1 {
	font-family: filmotype-maxwell,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 50px;

}

h4 {
	font-weight: bolder;
	font-size: 18px;
}

a {
    text-decoration: none;
    color: #929292;
    font-size: 25px;
}